## csv

In [20]:
import numpy as np
import pandas as pd

In [37]:
datasets1 = pd.read_csv('user.csv')
X = datasets1.iloc[:,:-1].values
Y = datasets1.iloc[:,3].values

<class 'pandas.core.frame.DataFrame'>

In [38]:
datasets1
# print(datasets1)
# print(X)
# print(Y)

      id  age password     user_name
0  10000   18     1121  F.LuVx-10000
1  10043   18     1121  F.LuVx-10044
2  10045   18     1121  F.LuVx-10045
3  10046   18     1121  F.LuVx-10046
4  10047   18     1121  F.LuVx-10047
5  20000   18     1121  F.LuVx-20000
6  20004   18      bar           foo
7  20005   18      bar           foo
8  20008  222      bbb           aaa

## excel

In [ ]:
fileName ='商品信息导出1208.xlsx'
datasets2 = pd.read_excel(fileName)
datasets2
# print(datasets2.head())

In [ ]:
#用pd包中的ExcelFile方法
# xls = pd.ExcelFile(fileName)
# salesDf = xls.parse('京东汇总')
# salesDf.head(3)